

@import '../../base.scss';

.app_skill{
  color: map-get($text-colors , 'primary' );
}

.title{
  @include title-lv2('laptop-solid.svg');
}

.category{
  margin-top: 40px;
  @include media-query(md){
    margin-top: 20px;
  }
  &_title{
    font-size: 26px;
    font-weight: 600;
    @include media-query(md){
      font-size: 18px;
    }
  }
  &_overview{
    font-size: 16px;
    color: map-get($text-colors , 'secondary');
    text-align: left;
    margin-top: 20px;
    @include media-query(md){
      font-size: 14px;
      margin-top: 10px;
    }
  }
}

.card{
  @include card;
  &_wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  &_title{
    font-size: 24px;
    font-weight: bold;
    @include media-query(md){
      font-size: 18px;
    }
  }
  &_2col{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-query(md){
      margin-top: 15px;
      font-size: 14px;
    }
    &_item{
      width: calc(50% - 10px);
      text-align: left;
      margin: 0;
    }
  }
}
